.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}

.navbar-nav>li {
    float: none;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
	
h1{
	color: grey;
}

p{
	font-size: 18px;
	color: grey;
}

a {
    text-decoration: none;
	color: lightgrey;
	font-size: 18px;
}

a:hover {
    text-decoration: none;
	cursor: pointer;
	color: white;
}
	
.thumbnail{
	border: none;
}	

.imageRow{
	border-radius: 1%;
}

.back{
	color: #006699;
	font-size: 18px;
}

.back:hover{
	text-decoration: underline;
	color: #006699;
	cursor: pointer;
}